body {
  font-family: Roboto, sans-serif;
  width: 1600px;
  height: 2349px;

  background: #ffffff;
}
/* klasa dla head */
.text-Web {
  font: Raleway;
  height: 700;
  color: #212121;
}
.higlight {
  color: #2196f3;
}
.text-nav {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
}
.text-adress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  color: #757575;
}
/* klasa dla linków  */
a:hover,
a:focus,
a:active {
  color: rgb(7, 7, 7);
  color: #2196f3;
  cursor: pointer;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #212121;
  display: inline;
}
/* klasa button */
.frame-button:hover {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: opx;
  cursor: pointer;
}
.frame-button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: #f5f4fa;
}
.button-front {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  color: #212121;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
}
.button-front:hover {
  color: #ffffff;
}
.end-front {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
}
/* klasa main */
h1 {
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
li {
  list-style-type: none;
}
.lorem {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
}
.lorem-ipsum {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: #757575;
}
.item-main {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
}
.manager {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
}
.manager-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}
/* footer */
.text-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  color: #2196f3;
}
.text-studio {
  color: #ffffff;
}
.end {
  background: #2f303a;
}
.m-Warszaw {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}
.adres {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}
/* portfolio style */
.image {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
}
.image-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: #757575;
}
