.post {
  color: rgba(33, 33, 33, 1);
}
.post2 {
  color: #757575;
}
.post3 {
  color: #ffffff;
}
.post > .post2 > .post3 {
  font-family: "Roboto";
}
.root5 {
  font-weight: 500;
}
.root6 {
  font-family: "Raleway";
  font-weight: 700;
}
