body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: #e5e5e5;
}
.link {
  text-decoration: none;
}
.button:active {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  background: #f5f4fa;
}
.social-links .link:hover,
.social-links .link:focus {
  color: rgb(12, 64, 236);
}
.social-links .link {
  color: rgb(7, 7, 7);
}
.social-links .link:active {
  color: rgb(235, 11, 11);
}
.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
}
.name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: #757575;
}
.end {
  background: #2f303a;
}
